body {
    margin: 0;
    padding: 0;
    
}


/* NAVIGATION */
.navbar{
    display: flex;       
    background-color: rgb(255, 255, 255);
    width: 100%;

    height: 60px;
    position: fixed;
    top: 0; 

    padding: 10px 20px;
    justify-content: center;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 50px;  

    margin: 0;
    padding: 0;
}

    

.navbar ul li a{
    text-decoration: none;
    padding: 14px 20px;
    text-decoration: none;

    color: rgb(112, 126, 8);
    transition: background 0.3    , color 0.3s;
     
}


.navbar ul li a:hover {
    background: brown;  
    color: white;
}   















