body {
    margin: 0;
    padding: 0;
    
}


/* NAVIGATION */
.navbar{
    display: flex;       
    background-color: rgb(255, 255, 255);
    width: 100%;

    height: 70px;
    position: fixed;
    top: 0; 

    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 50px;  

    margin: 0;
    padding: 0;
}

    

.navbar ul li a{
    text-decoration: none;
    padding: 14px 20px;
    text-decoration: none;

    color: rgb(112, 126, 8);
    transition: background 0.3    , color 0.3s;
     
}


.navbar ul li a:hover {
    background: brown;  
    color: white;
}   


.navbar img{
  width: 130px;
  height: auto;
 justify-content: center; 
  align-items: center; 
}




.line {
    display: flex;    
    background: url(../images/OUT_waifu2x_photo_noise2_scale.png);
    background-repeat: no-repeat;
    background-size: cover;    
    justify-content: center; 

    align-items: center; 
    height: 600px;            


}

.line h1 {
    margin-top: 90px;       
    font-size: 42px;
    font-weight: bold;

    color: rgb(255, 255, 255);
    text-align: center;           
}






.backgroundname {
  display: flex;
  justify-content: space-evenly;  
  align-items: center; 
       
  gap: 40px;                 
  padding: 60px 20px;
  background-color: #fff8f0;
  flex-wrap: wrap;        
}
body {
    margin: 0;
    padding: 0;
    
}


/* NAVIGATION */
.navbar{
    display: flex;       
    background-color: rgb(255, 255, 255);
    width: 100%;

    height: 70px;
    position: fixed;
    top: 0; 

    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 50px;  

    margin: 0;
    padding: 0;
}

    

.navbar ul li a{
    text-decoration: none;
    padding: 14px 20px;
    text-decoration: none;

    color: rgb(112, 126, 8);
    transition: background 0.3    , color 0.3s;
     
}


.navbar ul li a:hover {
    background: brown;  
    color: white;
}   


.navbar img{
  width: 130px;
  height: auto;
 justify-content: center; 
  align-items: center; 
}




.line {
    display: flex;    
    background: url(../images/OUT_waifu2x_photo_noise2_scale.png);
    background-repeat: no-repeat;
    background-size: cover;    
    justify-content: center; 

    align-items: center; 
    height: 600px;            


}

.line h1 {
    margin-top: 90px;       
    font-size: 42px;
    font-weight: bold;

    color: rgb(255, 255, 255);
    text-align: center;           
}






.backgroundname {
  display: flex;
  justify-content: space-evenly;  
  align-items: center; 
       
  gap: 40px;                 
  padding: 60px 20px;
  background-color: #fff8f0;
  flex-wrap: wrap;        
}
















.foot{
    flex-wrap: wrap;
    background-color:  rgb(38, 34, 34);
    width: 100%;
    height: 300px;
    
    
    font-family:'Courier New', Courier, monospace
    
 
}

.foot p{
    color: rgb(255, 255, 255);
    margin-left: 70px;

}



.LOGO img{
    height: 200px;
    width: auto;    
}

.fb img{
     height: 50px;
     width: auto;   
     margin-left: 70px;
    
}
