body{
    background-color: bisque;
    margin: 0;
}

/* NAVIGATION */
.navbar{
    display: flex;       
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0; 

    align-items: center;        
    justify-content: space-between; 
    padding: 10px 20px;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 40px;  
    margin: 0;
    padding: 0;
}

.navbar ul li a:hover {
    background: brown;  
    color: white;
}   
    

.navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: rgb(112, 126, 8);
    transition: background 0.3    , color 0.3s;
     
}

.navbar img {
    width: 150px;  
    height: auto;

}

/* nav */


























.foot{
    flex-wrap: wrap;
    background-color:  rgb(38, 34, 34);
    width: 100%;
    height: 250px;
    margin-top: 50%;
    font-family:'Courier New', Courier, monospace
 
}

.foot p{
    color: rgb(255, 255, 255);
    margin-left: 70px;

}



.foot img{
    height: 200px;
    width: auto;    

   
}