body {
    margin: 0;
    padding: 0;
}



.navbar{
    display: flex;       
    background-color: rgb(255, 255, 255);
    width: 100%;

    height: 60px;
    position: fixed;
    top: 0; 

    padding: 10px 20px;
    justify-content: center;
    align-items: center;

    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 50px;  

    margin: 0;
    padding: 0;
}

    
.navbar ul li a{
    text-decoration: none;
    padding: 14px 20px;
    text-decoration: none;

    color: rgb(112, 126, 8);
    transition: background 0.3    , color 0.3s;
     
}


.navbar ul li a:hover {
    background: brown;  
    color: white;
}   





.line {
    display: flex;              
    justify-content: center; 
    align-items: center; 
    height: 150px;            
    background-color: bisque;   

}

.line p {
    margin-top: 90px;       
    font-size: 18px;
    font-weight: bold;
    text-align: center;           
}




.bookingwhole {
    width: 350px;
    border: 1px solid #e6dfd7;
    background-color: #fff8f0;

    padding: 15px;
    font-family: Arial, sans-serif;
    margin-left: 60%;
    
    margin-top: 40px;
}

.bookingwhole h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.summarybox {
    border: 1px solid #e0d8cf;
    background-color: #f7f3ef;
    padding: 20px;
    height: 190px;
    border-radius: 4px;
}

.summarybox p {
    margin: 0;
    color: #000000;
    font-size: 14px;
}





.booking{
    width: 50%;
    margin-left: 60px;
    margin-top: -300px;
    font-family: Arial, sans-serif;
    background-color: #fff8f8;
}

.title {
    font-size: 22px;
    font-weight: 600;
    margin-left: 2px;
}

.secondbox {
    display: flex;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    align-items: center;
    gap: 20px;
    transition: 0.2s;
}

.secondbox:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.secondbox img {
    width: 220px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
}

.about h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.about p {
    margin: 8px 0 16px;
    color: #7a7a7a;
    
}

.button {
    background: #d2b48c;
    border: none;
    padding: 10px 20px;

    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;

    color: #fff;
    transition: 0.2s;

    width: 90px;
    margin-left: 70%;
    text-align: center;
}

.button:hover {
    background: #b9976a;
}





























.foot{
    flex-wrap: wrap;
    background-color:  rgb(38, 34, 34);
    width: 100%;
    height: 300px;
    margin-top: 20%;
    font-family:'Courier New', Courier, monospace
 
}

.foot p{
    color: rgb(255, 255, 255);
    margin-left: 70px;

}



.LOGO img{
    height: 200px;
    width: auto;    
}

.fb img{
     height: 50px;
     width: auto;   
     margin-left: 70px;
    
}