/* body {
    margin: 0;
    background-image: url(../images/woman-receving-back-massage-spa_194498-4121.avif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
} */


body {
    margin: 0;
    padding: 0;
}


.body1 {
    background-color: bisque;
    margin: 0;
    min-height: 100vh;
    padding-top: 100px;
}


/* NAVIGATION */
.navbar{
    display: flex;       
    background-color: rgb(255, 255, 255);
    width: 100%;

    height: 60px;
    position: fixed;
    top: 0; 

    padding: 10px 20px;
    justify-content: center;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 50px;  

    margin: 0;
    padding: 0;
}

    

.navbar ul li a{
    text-decoration: none;
    padding: 14px 20px;
    text-decoration: none;

    color: rgb(112, 126, 8);
    transition: background 0.3    , color 0.3s;
     
}


.navbar ul li a:hover {
    background: brown;  
    color: white;
}   







.logon img {
    display: block;
    margin: 150px auto 0px auto; 
    width: 670px;
    height: auto;

 
}


.center{
    text-align: center;
    margin-top: -50px;
    margin-bottom: 100px;
  
}

.booking{
    display: inline-block;
    padding: 12px 25px;
    background-color: #c17d7d;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.3s ease;
}

.booking:hover {
    background-color: #a45e5e;
}







.imagess h1{
    font-weight: bold;
    color: rgb(193, 125, 125);
    margin-top: 10%;
    
    
}

.imagess p{
    text-align: center;
    margin :-10px 250px 50px 250px;
    font-size: 20px;

   
  
}


.imagess{
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;      
    padding: 0 70px;   
    font-size: 22px;
    text-align: justify;
    
}


.imagess img{

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  border-radius: 1px;
  margin-top: 90px;
  width: 500px;

}

.imagess img:hover{
     transform: scale(1.08);
}


.imagess h3{
    margin: 0%;
    margin-bottom: 100px;
    color: rgb(171, 117, 54);
    font-family:'Times New Roman', Times, serif;
}











.foot{
    flex-wrap: wrap;
    background-color:  rgb(38, 34, 34);
    width: 100%;
    height: 300px;
    margin-top: 20%;
    font-family:'Courier New', Courier, monospace
 
}

.foot p{
    color: rgb(255, 255, 255);
    margin-left: 70px;

}



.LOGO img{
    height: 200px;
    width: auto;    
}

.fb img{
     height: 50px;
     width: auto;   
     margin-left: 70px;
    
}


















@media (max-width: 768px) {

   .body1 {
    width: 100%;
    }

    .navbar {
        height: auto;
        padding: 10px;
    }

    .navbar ul {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }

    .navbar ul li a {
        padding: 10px 12px;
        font-size: 14px;
    }

    
    .logon img {
        width: 90%;         
        margin: 50px auto 20px auto;
    }

    .imagess {
        padding: 0 20px;    
        font-size: 18px;    
    }

    .imagess img {
        width: 100%;        
        margin-top: 50px;
    }

    .imagess p {
        margin: 0 0 30px 0; 
        font-size: 16px;
    }

    .navbar ul {
        flex-wrap: wrap;    
        gap: 20px;          
    }

    
    .booking {
        font-size: 16px;
        padding: 10px 20px;
    }





    .foot {
        flex-direction: column; 
        height: auto;       
        padding: 20px;
        text-align: center;
    }

    .foot p, .fb img {
        margin-left: 0;     
        margin-bottom: 10px;
    }
}
