
/* NAVIGATION */
.navbar{
    background-color: orange;
    width: 100%;
    position: fixed;

   
}

.navbar ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 50px; 
    margin-right: 2%;

    



 
    
}


.navbar ul li a{
     text-decoration: none;
     
}



